.flex-row {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.title {
    width: 50%;
    margin-bottom: 15px;
    color: #dfdfdf;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
}

.underlined {
    border-bottom: 2px solid #393e46;
}

.margin-small {
    margin: 5%;
}

.full-height {
    height: 100%;
}

.full-window {
    height: 100vh;
    width: 100vw;
}

.border-right-solid {
    border-right: 1px solid #393e46;
}

.half-window {
    width: 50%;
}

.third-window {
    width: 33%;
}

.margin-top {
    margin-top: 30px;
}

.input {
    background-color: inherit;
    color: inherit;
    width: 100%;
}

.content-input {
    height: 300px;
    border: 1px solid #393e46;
    border-radius: 8px;
}

.title-input {
    font-size: 1.2em;
}

.card-body {
    display: inline-block;
}

.delete-button {
    display: inline-block;
    margin-left: auto;
}

@mixin card {
    margin: 20px;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    cursor: default;
    padding: 7px;
}
.card {
    @include card;
    box-shadow: 0 1px 2.5px 0 rgba(255, 255, 255, 0.2);
    transition: 0.1s;
}

.card:hover {
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.2);
}

.card-selected {
    @include card;
    border: 1px solid #fffffd;
}

.list-body {
    height: 90%;
    overflow: auto;

    &::-webkit-scrollbar-track {
        margin: 25px 0;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #10171d;
        border: 1px solid #dfdfdf;
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: #10171d;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #dfdfdf;
    }
}
